<form id="saveClientForm" method="post">
<div class="modal fade" id="formClientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Information sur le client</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<div class="form-group row">
<label for="staticEmail" class="col-sm-3 col-form-label">Nom (s)</label>
<div class="col-sm-9">
<input type="text"  class="form-control" name="nom_client" id="nom_client">
</div>
</div>
<div class="form-group row">
<label for="staticEmail" class="col-sm-3 col-form-label">Prénom (s)</label>
<div class="col-sm-9">
<input type="text"  class="form-control" name="prenom_client" id="prenom_client">
</div>
</div>
<div class="form-group row">
<label for="staticEmail" class="col-sm-3 col-form-label">Adresse</label>
<div class="col-sm-9">
<input type="text"  class="form-control" name="addresse_client" id="addresse_client">
</div>
</div>

<div class="form-group row">
<label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
<div class="col-sm-9">
<input type="text"  class="form-control" id="email_client" name="email_client" placeholder="email@example.com">
</div>
</div>

<div class="form-group row">
<label for="staticEmail" class="col-sm-3 col-form-label">Tél</label>
<div class="col-sm-9">
<input type="text"  class="form-control" name="tel_client" id="tel_client">
</div>
</div>

<div class="form-group row">
<label for="staticEmail" class="col-sm-3 col-form-label">Autres info</label>
<div class="col-sm-9">
<input type="text"  class="form-control" name="autre_info_client" id="autre_info_client">
 <input type="hidden" name="Id_client" id="Id_client" class="form-control">
</div>
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" onclick="saveClient()" id="btnSaveClient">Enregistrer</button>
    <button type="button" class="btn btn-primary" onclick="updateClient()" id="btnUpdateClient" style="display:none">Modifier</button>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
</div>
</div>
</div>
</div>
</form>
